<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Nosotros </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Hacienda de la Noria 16-D, Impulsora </a></li>
              <li><a href="tel:5530175897"><i class="fa fa-phone"></i>55 3017 5897</a></li>
              <li> <a href="mailto:email@email.com"></a><i class="fa fa-envelope-o"></i>email@email.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="/js/trix.js"></script>
<script src="/js/utilerias.js"></script>