<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="tel:5530175897"><i class="fa fa-phone"> </i>55 3017 5897</a></li>
        <li> <a href="mailto:email@email.com"><i class="fa fa-envelope-o"> </i>email@email.com</a></li>
        <li> <a href="#"><i class="fa fa-map-marker"> </i>Hda de la noria 16-D, Impulsora, Neza, Edo. de México</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-dollar"> </i>MXN</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="header-logo"><a class="log" href="/"></a></div>
        </div>
        <div class="col-md-5">
          <div class="header-search">
            <form>
              <div class="form-group row">
                <input class="input" placeholder="Buscar..." />
                <button class="search-btn">Buscar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4 clearfix">
          <div class="header-ctn">
            <div> <a href="/siguiendo"><i class="fa fa-heart-o"></i><span>Siguiendo </span>
                <div class="qty">2</div>
              </a></div>
            <div class="dropdown"> <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true"><i
                  class="fa fa-shopping-cart"></i><span>Carrito </span>
                <div class="qty">3</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list">
                  <div class="product-widget">
                    <div class="product-img"> <img src="/img/product01.png" alt="" /></div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">Computadora</a></h3>
                      <h4 class="product-price"><span class="qty"> 1x</span>$9,999.0</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>
                  <div class="product-widget">
                    <div class="product-img"> <img src="/img/product02.png" alt="" /></div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">Audífonos</a></h3>
                      <h4 class="product-price"><span class="qty"> 3x</span>$980.0</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>
                  <div class="product-widget">
                    <div class="product-img"> <img src="/img/product03.png" alt="" /></div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">Computadora</a></h3>
                      <h4 class="product-price"><span class="qty"> 1x</span>$12,999.0</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary"> <small>3 Producto(s) seleccionado(s)</small>
                  <h5> SUBTOTAL: $23,978.00</h5>
                </div>
                <div class="cart-btns"> <a href="/carrito">Ver Carrito</a><a href="/pagar">Pagar<i
                      class="fa fa-arrow-circle-right"></i></a></div>
              </div>
            </div>
            <div class="menu-toggle"> <a href="#"><i class="fa fa-bars"></i><span> Menu</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>